<div *ngIf="isLoggedIn; else homePage" class="wrapper">
  <h1>Welcome, {{ user.name }}!</h1>
  <h2>Your projects:</h2>
  <div class="project-list">
    <button
      mat-stroked-button
      color="primary"
      *ngFor="let project of userProjects"
      (click)="viewProject(project)"
      class="project-item mat-elevation-z2"
    >
      {{ project.name }}
    </button>
    <button
      class="project-item mat-elevation-z2"
      mat-stroked-button
      color="accent"
      (click)="onAddProject()"
    >
      Add project
    </button>
  </div>

  <h2>Avaliable projects:</h2>
  <div class="project-list">
    <button
      mat-stroked-button
      color="primary"
      *ngFor="let project of projects"
      (click)="viewProject(project)"
      class="project-item mat-elevation-z2"
    >
      {{ project.name }}
    </button>
  </div>
</div>
<ng-template #homePage class="wrapper"
  ><div>
    <h1>Welcome</h1>
  </div></ng-template
>
<div class="container-fluid"></div>
