<div *ngIf="isLoggedIn; else homePage">
  <h1>Welcome, {{ user.name }}!</h1>
  <button (click)="onLogout()">Logout</button>
  <button (click)="onAddProject()">Add project!</button>
  <h2>Your Projects</h2>
  <h3 *ngIf="userProjects.length === 0; else showUserProjects">
    You have 0 projects.
  </h3>
  <ng-template #showUserProjects>
    <div *ngFor="let project of userProjects">
      <p>{{ project.id }}</p>
      <p>{{ project.name }}</p>
    </div></ng-template
  >
  <h2>Projects</h2>
  <div *ngFor="let project of projects">
    <p>{{ project.id }}</p>
    <p>{{ project.name }}</p>
  </div>
</div>
<ng-template #homePage
  ><div>
    <h1>Welcome</h1>
  </div></ng-template
>
