.task-box {
  width: 256px;
  border: solid 1px #ccc;
  border-radius: 16px;
}

mat-divider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.comments {
  border-radius: 16px;
}

.add-button {
  border-radius: 16px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.width-full {
  width: 100%;
}

.edit-icon-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.remove-button-holder {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
