<div class="container mat-app-background">
  <div *ngIf="table; else loadingPage" class="wrapper">
    <h1 *ngIf="table.name">{{ table.name }}</h1>
    <div cdkDropListGroup class="column-list">
      <div class="column-container" *ngFor="let column of table.columns">
        <mat-expansion-panel class="column-header mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ column.name }} </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="buttons">
            <button
              class="mat-elevation-z2 edit-buttons"
              mat-stroked-button
              color="warn"
              (click)="onRemoveColumn(column)"
            >
              Delete <mat-icon color="warn">clear</mat-icon>
            </button>
            <button
              class="mat-elevation-z2 edit-button edit-buttons"
              mat-stroked-button
              color="primary"
              (click)="onEditColumn(column)"
            >
              Edit <mat-icon color="primary">create</mat-icon>
            </button>
          </div>
        </mat-expansion-panel>
        <div
          cdkDropList
          [cdkDropListData]="column.tasks"
          class="task-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            cdkDrag
            [cdkDragData]="task"
            [cdkDragPreviewClass]="dragPreviewClasses"
            class="task-container"
            *ngFor="let task of column.tasks"
          >
            <app-task [data]="task"></app-task>
          </div>
          <button
            class="add-column-button mat-elevation-z2"
            mat-stroked-button
            color="accent"
            (click)="onAddTask(column)"
          >
            Add task
          </button>
        </div>
      </div>
      <button
        class="add-column-button mat-elevation-z2"
        mat-stroked-button
        color="accent"
        (click)="onAddColumn()"
      >
        Add column
      </button>
    </div>

    <button
      class="delete-button"
      mat-button
      color="warn"
      (click)="onDeleteTable()"
    >
      DELETE TABLE
    </button>
  </div>
  <button
    class="go-back-button"
    mat-button
    color="primary"
    (click)="onGoBack()"
  >
    GO BACK
  </button>
  <ng-template #loadingPage class="wrapper"
    ><div class="loading-page">
      <mat-spinner color="accent"></mat-spinner></div
  ></ng-template>
</div>
