<div class="container">
  <div *ngIf="table; else loadingPage" class="wrapper">
    <h1 *ngIf="table.name">{{ table.name }}</h1>
    <div cdkDropListGroup class="column-list">
      <div class="column-container" *ngFor="let column of table.columns">
        <h2>{{ column.name }}</h2>
        <div
          cdkDropList
          [cdkDropListData]="column.tasks"
          class="task-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="custom-placeholder" *cdkDragPlaceholder></div>
          <div
            cdkDrag
            [cdkDragData]="task"
            class="task-container"
            *ngFor="let task of column.tasks"
          >
            <app-task [data]="task"></app-task>
          </div>
          <button
            class="add-column-button mat-elevation-z2"
            mat-stroked-button
            color="accent"
            (click)="onAddTask(column)"
          >
            Add task
          </button>
        </div>
      </div>
      <button
        class="add-column-button mat-elevation-z2"
        mat-stroked-button
        color="accent"
        (click)="onAddColumn()"
      >
        Add column
      </button>
    </div>

    <button
      class="delete-button"
      mat-button
      color="warn"
      (click)="onDeleteTable()"
    >
      DELETE TABLE
    </button>
  </div>
  <button
    class="go-back-button"
    mat-button
    color="primary"
    (click)="onGoBack()"
  >
    GO BACK
  </button>
  <ng-template #loadingPage class="wrapper"
    ><div class="loading-page">
      <mat-spinner color="accent"></mat-spinner></div
  ></ng-template>
</div>
